img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    }

.image-container {
        margin: 0 auto;
        width: auto; 
        height: 250px;
        overflow: hidden; 
        display: flex;
        justify-content: center;
        align-items: center;
    }



.cards {
    min-width: 26%;
    margin: 1.9rem;
    border: rgb(141, 135, 135) solid 1px;
    
    
}

#name {
    margin-top: 1.9rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 1.7rem;
}

#info {
    display: flex;
    justify-items: space-between;
    justify-content: space-between;
    align-items:end;
    width: 100%;
    margin: 0 auto;
}

section > h4 {
    display: block;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}

section > h5 {
    width: 100%;
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.left {
    text-align: left;
    
   
}

.right {
    text-align: right;
    
}

section.left > p {
    font-size: 1.3rem;

}

section.right p {
    font-size: 1.2rem;
    width: 100%;
}

.category {
    color: #bb8830;
}

