#mainSection {
    display: flex;
    margin: 4rem auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    width: 85%;
    
    }

.cards {
    flex-basis: 22%;
    height: 100%;
    flex-shrink: 0;
    min-width: 185px;
    
}

