img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    }

li {
    list-style-type: none;
}

article {
    width: auto;
    padding: 2rem;
    margin: 2rem;
    height: auto;
}

article h4 {
    margin-top: .5rem;
    text-align: left;
    font-size: 1.7rem;
}


h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
}

#info {
    display: flex;
    justify-content: space-between;
    align-items:end;
    
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

section.left p {
    font-size: 1.4rem;
}

section.right p {
    font-size: 1.2rem;
}

.category {
    color: #bb8830;
}

