form {
    
    background-size:contain;
    background-repeat: no-repeat;
    
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    
}

form::after {
    background-color: black;
    opacity: 0.8; /* Adjust the opacity (0.5 in this example) to control the darkness */
    z-index: -1;
}



a {
    display:inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 9rem; 
    cursor:pointer;
    font-size: 2rem;
    color: white;
}


a:visited {
    color: white;
}

a:hover {
    color: rgba(255, 255, 255, 0.829);
}

hr {
    width: 40%;
    margin: 0 auto;
}

input {
    display: inline-block;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    border-radius: .5rem;
    font-size: 150%; 
    border-style: hidden;
    
}

button {
  display: block;
  margin: 4rem auto 0;
  background-color: #bb8830;
  border-radius: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  color: white;

}

button:hover {
    background-color: #8f661f;
    transform: translateY(-1px);
  }